<Config>
	
	<Version>2</Version>

	<DeepSeekKey></DeepSeekKey>
	<QwenKey></QwenKey>
	<OpenRouterKey></OpenRouterKey>
	<OpenRouterChatModel>deepseek/deepseek-v3.2</OpenRouterChatModel>
	<OpenRouterEmbeddingModel>baai/bge-m3</OpenRouterEmbeddingModel>
	<ResourceCenterServerUrl>http://47.250.181.152:5000</ResourceCenterServerUrl>
	<HostedServiceUrl></HostedServiceUrl>
	<HostedLicenseCode></HostedLicenseCode>
	<HostedLicenseId></HostedLicenseId>
	<MissingStrategy>Ignore</MissingStrategy>
	
	<OCRAccess></OCRAccess>
	<OCRSecret></OCRSecret>
	
	<PhonkOptions>
		<EnablePhonk>false</EnablePhonk>
		<WrongCount>3</WrongCount>
	</PhonkOptions>
	
	<RStandard>45</RStandard>
	
</Config>
